@import "custom/_variables.scss";


/*.site-header .main-navigation ul ul ul li a {padding-left: 25px;}*/
.main-navigation {
	position: relative;
	h1 {
	  display: none !important;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		position: relative;
		text-transform: uppercase;
		font-weight: 400;
		color: #fff;
		
		li {
			cursor: pointer;
			list-style: none;
			display: block;
			position: relative;
			padding: 0;
			a {
				display: inline-block;

				&:visited {
					color: #fff;
				}

				&:hover {
					color: $primary;
				}
			}

			&.current_page_item {
				a, a:visited {
					color: $primary;
				}
			}
			/* switch symbol for showing child */
			span {
				display: inline-block;
				text-align: right;
				width: 1.4em;
				padding-right: 0.5em;
				margin-left: 0.5em;
				margin-right: -0.5em;
			}
			/* nav child menu */
			ul {
				display: none;
				padding: 0;
				margin: 0;
			}
			/* show child */
			ul.childopen {
				display: block;
			}
		}
	}



		.navicon {
			position: absolute;
			top: -60px;
			right: 0;
			font-size: 22px;
			line-height: 40px;
			text-align: center;
			width: 40px;
			height: 40px;
			cursor: pointer;
			transition: .4s all ease;

			&:hover {
				color: $primary;
			}
		}
}

/* expanded nav menu */
@media (min-width: $screen-sm-min) {

	.navicon {
		display: none;
	}

	.navmenu {
		display: block;
	}

	.main-navigation ul {

		display: inline-table;
		// padding: 0 1em;
		&:first-child > li + li {
			margin-left: 20px;
		}
		li {
			a {
				padding: 0;
				
			}
			/* expanded nav child menu */
			ul {
				position: absolute;
				z-index: 9999;
				top: 100%;
				margin-top: 10px;
				left: 0;
				width: 100%;
				min-width: 153px;
				background-color: $grayscale-darken;
				border: 1px solid rgba(0, 0, 0, 0.1);
				box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
				li {
					float: none;
					a {
						font-size: 12px;
						width: 100%;
					}
					a, a:link, a:visited {
						border: 0;
						border-top: 1px solid rgba(#fff,0.3);
					}
					a:hover {
						background-color: lighten($grayscale-darken, 5%);
					}
				}

				ul {
					margin-top: 0;
					background: none;
					position: relative;

				}
			}
		}
	}

}


/* collapsed nav menu */
@media (max-width: $screen-sm-min - 1) {


	.main-navigation {
		margin-top: 20px;
	}

	.menu-all-pages-container ul {
			clear: left;
			display: none;
			&.show {
				display: block;
		}
	}

	.main-navigation ul {
		clear: left;

		li {
			display: block;
			a {
				width: 100%;
				line-height: 24px;
				padding: 3px 10px;
			}
			border-top: 1px solid rgba(#fff,0.1);
		}
		/* collapsed nav child menu */
		ul {
			font-size: 12px;
			position: relative;
			left: 0;
			background: darken($grayscale-darken,1%);
			li a {
				padding-left: 25px;
			}
			li ul a {
				padding-left: 45px;
			}
		}
	}

}

