@import "custom/_variables.scss";

.main-navigation {
	h1 {
	  display: none !important;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		position: relative;
		
		li {
			cursor: pointer;
			list-style: none;
			display: block;
			position: relative;
			padding: 0;
			a {
				display: inline-block;
			}
			/* switch symbol for showing child */
			span {
				display: inline-block;
				text-align: right;
				width: 1.4em;
				padding-right: 0.5em;
				margin-left: 0.5em;
				margin-right: -0.5em;
			}
			/* nav child menu */
			ul {
				display: none;
				padding: 0;
				margin: 0;
			}
			/* show child */
			ul.childopen {
				display: block;
			}
		}
	}
}

/* expanded nav menu */
@media (min-width: $screen-sm-min) {

	.navicon {
		display: none;
	}

	.navmenu {
		display: block;
	}

	.main-navigation ul {

		display: inline-table;
		// padding: 0 1em;
		li {

			a {
				padding: $phi * 0.3rem;
				
			}
			/* expanded nav child menu */
			ul {
				position: absolute;
				z-index: 9999;
				top: 100%;
				left: 0;
				width: 100%;
				min-width: 120px;
				@include child_menu_expanded();
				li {
					float: none;
					a {
						width: 100%;
						line-height: 4.5rem;                                  
						padding: 0 2.1875rem;
					}
					@include child_menu_item();
				}
			}
		}
	}

}


/* collapsed nav menu */
@media (max-width: $screen-sm-min) {

	.navicon {
		display: block;
		float: right;
		font-size: 1.65rem;
		line-height: 2.8125rem;
		text-align: center;
		width: 54*$px;
		margin: 15*$px;
		cursor: pointer;


		&:hover {
			color: $primary;
		}
	}

	.main-navigation ul {
		clear: left;
		display: none;
		&.show {
			display: block;
			float: left;
		}
		li {
			display: block;
			a {
				width: 100%;
				line-height: 2.5rem;
				padding: 0 1.1875rem;
			}
			@include child_menu_item();
		}
		/* collapsed nav child menu */
		ul {
			position: relative;
			left: 0;
			background: darken($grayscale-darken,2%);
			li a {
				
			}
		}
	}

}

