/*
* @package      Style
* @description  This package holds all common style declarations
*               of the site
*/

@import "_variables.scss";
@import "includes/_mixins.scss";

@import "includes/_normalize.scss";
@import "includes/tm-grid/_tm-grid.scss";


@import "_screen_preview.scss";

/*
* @section      Main Styles
* @description  This section holds template default elements style declarations
*/

html {
	/* font-size: 60px;

	@media (min-width: $screen-sm-min) and (max-width: $screen-md-min - 1) {
		font-size: 70px;
	}

	@media (min-width: $screen-md-min) and (max-width: $screen-lg-min - 1) {
		font-size: 80px;
	}

	@media (min-width: $screen-lg-min) {
		font-size: 100px;
	} */


	.old-ie {
		display: none;
	}

	&.lt-ie11 {
		.old-ie{
			display: block;
		}
	}
}

body {
	font-family: $default-font-family;
	font-weight: $default-font-weight;
	font-size: 14px;
	line-height: 1.7;
	-webkit-text-size-adjust: none;
	color: $content-color;
	background: $content-bg;

	background-repeat: no-repeat;
	background-position: top left;
	background-attachment: fixed;
	background-size: cover;
	word-wrap: break-word;

	@media (min-width: $screen-sm-min) and (max-width: $screen-md-min - 1) {
		font-size: 14px;
	}

	@media (min-width: $screen-md-min) {
		font-size: $default-font-size;
		line-height: $default-line-height;
	}
}


/*
* @subsection   Typography
* @description  Describes default font settings for basic html elements and
*               css classes
*/

h1, h2, h3, h4, h5, h6,
.heading-1, .site-title, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6 {
	display: block;
	color: $grayscale-darken;
	font-weight: 400;

	* + & {
		margin-top: 0.5em;
	}

	a:hover {
		color: $primary;
	}
}

h1, .heading-1, .site-title {
	font-size: 38px;
	line-height: 1.33;
	font-family: Tinos, Roboto, Arial;
	text-transform: uppercase;

	@media (min-width: $screen-sm-min) {
		font-size: 50px;
		line-height: 1.16;
	}

	> .heading-2{
		margin-bottom: rem(33px);
	}
}

h2, .heading-2 {
	font-size: 28px;
	line-height: 1.5;
	font-weight: 500;

	mark{
		padding: 5px 60px;
	}

	@media (min-width: $screen-sm-min) {
		font-size: 30px;
		line-height: 1.32;
	}
}

h3, .heading-3 {
	font-size: 30px;
	line-height: 1.5;

	&.no-line {
		padding-bottom: 0;
		margin-bottom: 0;
		&:after {
			display: none;
		}
	}

	@media (min-width: $screen-sm-min) {
		font-size: 30px;
		line-height: 1.37;
	}
}

h4, .heading-4 {
	font-size: 22px;
	text-transform: uppercase;

	@media (min-width: $screen-sm-min) {
		font-size: 22px;
		line-height: 1.47;
	}
}

h5, .heading-5 {
	font-size: 22px;

	@media (min-width: $screen-sm-min) {
		font-size: 22px;
		line-height: 1.66;
	}
}

h6, .heading-6 {
	font-size: 18px;

	@media (min-width: $screen-sm-min) {
		font-size: 18px;
		line-height: 1.5;
	}
}

p, .list, .contact-info {
	font-weight: 300;

	a:hover {
		color: $primary;
	}
}

mark {
	display: inline-block;
	padding: 5px;
	color: #FFF;
	background: $primary;
}

em {
	color: $primary;
}

strong {
	font-weight: 700;
}

small, .small {
	display: block;
	font-size: 0.875em;
	line-height: 1.643em;
}

.big {
	font-size: 1.2em;
}

a:hover {
	color: $primary;
}

time {
	&:before{
		padding-right: 8px;
	}
}

hr{
	height: 1px;
	width: 100%;
	display: none;
	padding: 0;
	background: rgba($default, 0.04);
}


/*
* @section      Main Layout
* @description  This section holds class declarations for elements indent creation
*/

p + p, p + *, h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + * {margin-top: 15px;}
#{headings()}{
	* + & {
		margin-top: 20px;
	}
}

.screen-reader-text + * { margin-top: 0; }

div + p { margin-top: 15px; }



/*
* @subsection   Offsets
* @description  Describes vertical indentation between the elements
*/

* + .btn-group{
	margin-top: 45px;
}


* + .container-fluid{
	margin-top: 66px;
}

* + .offset {
	&-1 {

	}

	&-2 {

	}

	&-3 {
	}
}

* + time{

}

p + p{

}

.box, .box-xs, .box-sm, .box-md, .box-lg {
	& + .box,
	& + .box-xs,
	& + .box-sm,
	& + .box-md,
	& + .box-lg {

	}
}

.flow-offset-1 {
	@include make-flow-offset(30px);
}

.container {
	.rd-navbar-search-results{
		.result-item + .result-item{
			margin-top: 30px;
		}
	}
}


/*
* @subsection   Postfix
* @description  Describes instant right margin classes
*/

.postfix-1 {

}


/*
* @subsection   Prefix
* @description  Describes instant left margin classes
*/

.preffix-1 {

}


/*
* @subsection   Insets
* @description  Describes instant padding classes
*/

.inset {
	&-1 {

	}

	&-2 {

	}

	&-3 {

	}
}


/*
* @subsection   Well
* @description  Describes section inner indents
*/

.well-xs {
	padding-top: 50px;
	padding-bottom: 50px;
}

.well-sm {
	padding-top: 80px;
	padding-bottom: 80px;
}

.well-md {
	padding-top: rem(100px);
	padding-bottom: rem(100px);
}

.well-lg {
	padding-top: rem(120px);
	padding-bottom: rem(120px);
}

.well-xl {
	padding-top: rem(150px);
	padding-bottom: rem(150px);
}

/*
* @section      Helpers
* @description  This section holds various helper classes for
*               conditional page styling
*/

.round {
	border-radius: 50%;
}

/*
* @subsection   Colors
*/

html body .page { // Increases specificity to use with background helpers
	.text-primary {
		color: $primary;
	}
}


/*
* @subsection   Backgrounds
*/
.bg-primary {
	background: $primary;

	&, #{headings()}{
		color: $white;
	}

	.icon-primary{
		color: $white;
		border-color: $white;
		background: transparent;
		box-shadow: $box-shadow-ambient;
	}
	
	p, .list, .terms-list{
		a:hover{
			color: $white;
			text-decoration: underline;
		}
	}
}

/*
 * @subsection   Box
 */
@import "includes/tm-box/_boxes.scss";

.box {

}

/*
* @subsection   Quote
*/
.quote{

}

/*
* @subsection   Pricing Box
*/

.pricing-box{

}

/*
* @subsection   Breadcrumbs
*/

.breadcrumbs{

}

/*
* @subsection   Post
*/

.post{

}

/*
* @subsection   List
*/

.list{
	li + li{
		margin-top: 10px;
	}
}

/*
* @subsection   Inline List
*/

.inline-list {
	@include transform(translateY(-30px));
	margin-bottom: -30px;
	margin-left: -30px;


	> li {
		display: inline-block;
		margin-top: 30px;
		margin-left: 30px;
	}
}


/*
* @subsection   Marked List
*/

.marked-list {
	text-align: left;

	> li {
		position: relative;
		padding-left: 30px;

		&:before {
			content: "\f105";
			position: absolute;
			left: 0;
			top: 0;
			font-weight: 400;
			font-size: 1em;
			font-family: $fa;
			color: $primary;
		}

		& + li {
			margin-top: 10px;
		}

		> a:hover {
			color: $primary;
		}
	}
}


/*
* @subsection   Index List
*/

.index-list {
	counter-reset: li;

	> li {
		> .index-list__counter{
			&:before {
				content: counter(li, decimal-leading-zero) '.';
				counter-increment: li;
			}
		}
	}

	// Sets offset between list rows
	@include make-flow-offset(30px);
}


/*
* @subsection   Ordered List
*/

.ordered-list {
	> li {
		padding-left: 20px;
		list-style-type: decimal;
	}
}


/*
* @subsection   Terms  List
*/

.terms-list {
	> dt + dd {
		margin-top: 10px;
	}

	> dd + dt {
		margin-top: 20px;
	}
}


/*
* @subsection   Contact Info
*/

.contact-info {
	p {
	}

	dl {
		dt, dd {
			display: inline-block;
		}

		dt:after {
			content: ':';
		}

		dt {
			min-width: 80px;
		}
	}
}


/*
* @subsection   Counter
*/

.counter{

}


/*
* @subsection   Thumb
*/

.thumb {
	position: relative;
	display: block;
	overflow: hidden;

	> img {
		width: 100%;
	}

	&__overlay {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		background: rgba($grayscale-darken, .5);
		opacity: 0;
		text-align: center;
		transition: .3s all ease;

		> *{
			vertical-align: middle;
			@include transform(translateY(30px));
			transition: .3s all ease;
		}

		&:before{
			content: '';
			display: inline-block;
			height: 50%;
		}
	}

	&:hover {
		.thumb__overlay {
			opacity: 1;

			> *{
				@include transform(translateY(0));
			}
		}
	}
}


/*
* @subsection   Link
*/

.link {
	display: inline-block;
}


/*
* @subsection   Video
*/

.video {
	position: relative;
	padding-bottom: percentage(340 / 570); // percentage( Height / Width ) on PSD

	> iframe {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}





/*
* @section      Extensions
* @description  This section holds some of style declarations for necessary
*               scripts
*/

@import "extensions/_owl-carousel.scss";



/*
* @section      Page Header
* @description  This section holds specific style redeclarations for some
*               of common elements in page header
*/

.site-header {
	padding: 33px 0 22px;
	background: $grayscale-darken;
	clear: #fff;
	margin-bottom: 50px;


	.site-branding {
		text-align: right;
		color: #aeadad;
		display: table-cell;
		.site-title {
			text-transform: uppercase;
			a {
				color: #fff;
			}
		}

		.site-description {
			@media (min-width: $screen-sm-min) {margin-top: -7px;}
		}
	}

	.header-image-box {
		margin: 30px 0 -22px;
	}



	@media (min-width: $screen-sm-min) {

		.site-branding {
			display: table-cell;
			vertical-align: middle;
			min-width: 240px;
		}

		.main-navigation { 
			display: table-cell;
			vertical-align: middle;
			width: 100%;
			text-align: right;
			float: none;
			clear: none;

			li {
				float: none;
				display: inline-block;

				li {
					display: block;
					text-align: left;

					a {
						line-height: 24px;
    				padding: 5px 15px;
					}
					
				}
			}
		}
	}

}


/*
* @section      Page Content
* @description  This section holds specific style redeclarations for some
*               of common elements in page content
*/

.page-content {
	.desktop & {
		min-height: 100vh;
	}
}

/*
* @section      Page Footer
* @description  This section holds specific style redeclarations for some
*               of common elements in page footer
*/

.page-footer {

}

.copyright {
}




.site-main article {
	background: #fff;
	padding: 0 40px 0;
}

aside {
	background: #fff;
	padding: 42px 40px;
}

.comments-area {
 	background: #fff;
 	padding: 30px 40px;
 	margin: 20px 0;
 	border-bottom: 6px solid $grayscale-darken;

}

.img-single {
	margin: 0 -40px;
	margin-top: -22px;
}

/*
* @section      Page Content
* @description  This section holds specific style redeclarations for some
*               of common elements in page content
*/

article.format-quote {
	p {
		font-size: 18px;
		font-style: italic;
		font-weight: 500;

		&:before {
			/*font-family: "FontAwesome";*/
			content: "“";
			margin-right: 0.5em;
			font-size: 36px;
			color: $primary;
		}
	}
}

article.type-page {
	padding: 50px 40px;
}
article.type-page, article.type-post {

	.entry-header.content-page {
		border-bottom: none;
	}

	blockquote {
		padding: 10px 0;
		padding-left: 20px;
		border-left: 6px solid $grayscale-darken;

		cite {
			font-weight: 400;
			strong { color: $grayscale-darken; }
		}
	}

	/*start dl styles*/
	dl {
		dt {
			font-weight: 400;
			font-size: 18px;
			color: $grayscale-darken;
		}
		dd {
		}

		dd + dt {margin-top: 20px;}
	}
	/*end dl styles*/

	pre {padding: 20px;}


	/*start tables styles*/
	table {width: auto;}
	tbody {
		tr:first-child {
			border-bottom: 1px solid $line-color;
		}

		th {
			text-align: left;
			font-size: 18px;
			color: $grayscale-darken;
		}

		tr {
			th:first-child, td:first-child {
				padding-left: 0;
			}

			th, td {
				border-right: 1px solid $line-color;
			}

			th:last-child, td:last-child {
				border-right: none;
			}
		}

		td, th {
			padding: 5px 35px 5px 30px;
		}
	}
	/*end tables styles*/


	/*start list styles*/
	* + ol, * + ul {
		margin-top: 15px;
	}
	ol, ul {
		font-weight: 400;
	}
	li + li {
		margin-top: 5px;
	}
	ul {
		li {
			&:before {
				font-family: "FontAwesome";
				content: "\f101";
				margin-right: 0.5em;
			}
		li:before { content: "\f103"; }
		li li:before { content: "\f105"; }
		}
	}
	ol {
		list-style: decimal;
		margin-left: 20px;
	}
	/*end list styles*/
}




.title-linked{
	position: relative;
	&:after {
		font-family: "FontAwesome";
		content: "\f178";
		margin-left: 0.5em;
		font-size: 18px;
		margin-top: -3px;
	}
}


.widget-title, .widgettitle, h3, .content-page .entry-title {
	font-weight: 500;
	position: relative;
	font-size: 22px;
	text-transform: uppercase;
	padding-bottom: 7px;
	margin-bottom: 21px;

	&:after {
		position: absolute;
		display: inline-block;
		content: '';
		width: 55px;
		height: 2px;
		left: 0;
		bottom: 0;
		background: $primary;
	}
}

.tagcloud {
			display: table-cell;
			vertical-align: middle;
			width: 100%;
			text-align: left;
			a {
				padding: 5px 15px;
				font-size: 12px;
				text-transform: uppercase;
				border: 3px solid $primary;
				display: inline-block;
				color: #fff;
				margin-bottom: 8px;

				&:hover {
					color: #fff;
					background: #000;
				}
			}
		}

.site-footer .widgettitle {
	color: #fff;
}

aside {
	padding-top: 42px;
	font-weight: 400;
	ul {
		li {

			&:before {
				font-family: "FontAwesome";
				content: "\f101";
				margin-right: 0.5em;
			}

			& + li {
				margin-top: 5px;
			}

		}
	}
}

.comment-author-link {
	color: $grayscale-darken;
	font-weight: 400;
	a:hover {
		color: $primary;
	}
}


.article-more, .reply .comment-reply-link {
	font-weight: 500;
	display: table-cell;
	vertical-align: middle;
	min-width: 75px;
	color: $grayscale-darken;
	font-size: 18px;
	text-transform: uppercase;
	&:after {
		font-family: "FontAwesome";
		content: "\f178";
		margin-left: 5px;
	}
	&:hover {
		color: $primary;
	}
}



/*
* @section      Site article
* @description  This section holds styles for site article
*/
.site-main article {
	border-bottom: 6px solid $grayscale-darken;

	&.sticky {
		border: 6px solid $grayscale-darken;
	}

	header {
		border-bottom: 1px solid $line-color;

		time {
			padding: 40px 0 30px;
			border-right: 1px solid $line-color;
			display: table-cell;
			vertical-align: middle;
			min-width: 73px;
			text-transform: uppercase;
			font-weight: 500;
			line-height: 20px;
			color: $grayscale-darken;
			span {
				display: block;
			}
		}

		.article-title-main {
			padding-left: 25px;
			display: table-cell;
			vertical-align: middle;
			width: 83%;
		}

		.entry-meta {
			display: table-cell;
			vertical-align: middle;
			text-align: right;
			width: 100%;

			.comments-link a{
				font-size: 18px;
				&:before {
					font-family: "FontAwesome";
					content: "\f0e6";
					margin-right: 5px;
				}
			}
		}
	}

	footer {
		overflow: hidden;
		padding: 20px 0;

		.tags-links {
			display: table-cell;
			vertical-align: middle;
			width: 100%;
			text-align: right;
			a {
				padding: 5px 15px;
				font-size: 12px;
				text-transform: uppercase;
				border: 3px solid $primary;
				display: inline-block;
				color: $grayscale-darken;
				margin-bottom: 8px;

				&:hover {
					color: #fff;
					background: #000;
				}
			}
		}


	}
	
}

/*
* @section Navigation under single posts
*/
.navigation.post-navigation {
	padding: 10px;
	background: #fff;
	border-bottom: 3px solid $grayscale-darken;

	a {
		color: $grayscale-darken;
		&:hover {color: $primary;}
	}

	.nav-links {
		overflow: hidden;

		.nav-previous {
			float: left;
			&:before {
				color: $primary;
				font-family: "FontAwesome";
				content: "\f104";
				margin-right: 0.5em;
			}
		}

		.nav-next {
			float: right;
			&:after {
				color: $primary;
				font-family: "FontAwesome";
				content: "\f105";
				margin-left: 0.5em;
			}
		}
	}
}
/*
* @section      Pagination under posts
*/
.navigation.pagination {
	border-bottom: 6px solid $grayscale-darken;
	margin-top: 40px;

	.page-numbers {
		min-width: 58px;
		height: 56px;
		line-height: 56px;
		display: inline-block;
		text-align: center;
		font-size: 18px;
		background: #524c56;
		padding: 0 5px;
		vertical-align: middle;
		color: #fff;

		&.current, &.prev, &.next {
			background: $grayscale-darken;
		}

		&.prev, &.next {
			position: relative;
			/*font-size: 0;*/
			color: rgba(#fff,0);
			font-size: 0;

			&:before {
				font-size: 18px;
				color: $primary;
				font-family: "FontAwesome";
				content: "\f105";
			}
		}
		&.prev:before {
			content: "\f104";
		}


		&:hover {
			background: #000;
		}

		&.dots {
			min-width: 0;
			background: none;
		}
	}
}


.site-footer {
	margin-top: 56px;
	padding: 57px 0;
	color: #fff;
	background: $grayscale-darken;

	.site-info {
		text-transform: uppercase;
		font-size: 14px;
	}
}

.search-form {
	width: 100%;
	position: relative;
	margin: 0 0 4.3em;

	label input{
		width: 100%;
		border-radius: 0;
		padding: 10px 20px 10px;
		padding-right: 47px;
		line-height: 35px;
		box-sizing: border-box;
		background: $grayscale-lighten;
		color: $grayscale-darken;
		font-size: 14px;
		font-weight: 300;

	}

	::-webkit-input-placeholder {color:$grayscale-darken;}
	::-moz-placeholder          {color:$grayscale-darken;}/* Firefox 19+ */
	:-moz-placeholder           {color:$grayscale-darken;}/* Firefox 18- */
	:-ms-input-placeholder      {color:$grayscale-darken;}

	.search-submit {
		background: none;
		border: none;
		box-shadow: none;
		font-size: 18px;
		line-height: 55px;
		position: absolute;
		right: 23px;
		top: 0;
		color: $grayscale-darken;

		&:hover {
			color: $primary;
		}
		&:before {
			font-family: "FontAwesome";
			content: "\f002";
		}
	}

}

.byline {
	display: block;

	.author {
		color: $primary;
		&:hover {
			text-decoration: underline;
		}
	}
}
* + .form-submit {margin-top: 12px;}





/*
* @section      Comments section
* @description  This section holds styles for comments section
*/
.comment-list {
	margin: 25px 0;
	li { 
		& + li {margin-top: 25px;}
		ol {
			margin-top: 25px;
		}
	}

	.comment-body {
		border: 1px solid #e5e5e5;
	}
}


.comments-area {
	.comment-body {
		padding: 10px;
		@media (min-width: $screen-sm-min) {padding: 29px;}
		.comment-author {
			font-size: 16px;
			margin-bottom: 10px;
			@media (min-width: $screen-sm-min) {
				float: left;
				margin-right: 20px;
				margin-bottom: 0;
			}
		}
		.comment-all-txt {
			overflow: hidden;

			.author-title {
				font-weight: 500;
				font-size: 18px;
				color: $grayscale-darken;
			}


			footer {
				padding: 0;
				padding-top: 20px;
				overflow: hidden;
				text-transform: uppercase;
				color: $grayscale-darken;
				font-weight: 500;

				.comment-meta {
					float: left;
					font-size: 14px;
				}

				.reply {
					float: right;
					margin-top: -4px;
				}
			}

			
		}
	}
}



html .comment-form {
	p > label, p > label + span { display: none; }

	p + p {
		margin-top: 15px;
	}

	input, textarea {
		max-width: 100%;
		background: $grayscale-lighten;
		color: $grayscale-darken;
		font-weight: 300;
		padding: 18px 25px 13px;
		border: none;
	}
	::-webkit-input-placeholder {color:$grayscale-darken;}
	::-moz-placeholder          {color:$grayscale-darken;}/* Firefox 19+ */
	:-moz-placeholder           {color:$grayscale-darken;}/* Firefox 18- */
	:-ms-input-placeholder      {color:$grayscale-darken;}
	input {
		width: 430px;
	}
	textarea {
		height: 198px;
	}

	.form-submit {
		margin-top: 29px;
		position: relative;
		padding-right: 20px;
		overflow: hidden;
		color: $grayscale-darken;
		font-weight: 500;
		&:after {
			font-family: "FontAwesome";
			content: "\f178";
			margin-left: 5px;
			position: absolute;
			top: -1px;
			right: 0;
		}

		.submit {
			padding: 0;
			position: relative;
			background: none;
			float: right;
			width: auto;
			font-weight: 500;
			color: $grayscale-darken;
			font-size: 18px;
			text-transform: uppercase;
			box-shadow: none;
			text-shadow: none;
			
			&:hover {
				color: $primary;
			}
		}
	}

}



/*
* @section      Additional classes
* @description  This section holds Additional classes
*/

.header-image-box img {
  width: 100%;
  height: auto;
}

[class*='fa-'] {
	font-family: "FontAwesome";
}
.fa-chain {color: $grayscale-darken;}